@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-custom-bg;
  overflow-y: scroll; /* Force vertical scrollbar */
}

/* Global link styles */
a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}
